    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }
    
    body.cuerpo {
        background: #44A08D;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #093637, #44A08D);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #093637, #44A08D);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .pag {
        background: #E5E7E9;
    }
    
    .pag::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    #login {
        margin: 55px 0px;
        padding: 40px;
        background: #d5d8dcc5;
        border-radius: 5px;
    }
    
    .contenedoru {
        width: 115px;
        height: 110px;
        border-radius: 85px;
        background: #AED6F1;
    }
    
    .usuario {
        margin-top: 5px;
        width: 90px;
        height: 90px;
    }
    
    .card-categorias {
        width: 95%;
        margin: 25px 25px;
    }
    
    #card1 {
        margin: 10px 10px;
        display: inline-block;
        flex: 1 1 auto;
    }
    
    .box-1 {
        border-bottom: #2ECC71 2px solid;
        background-color: #FDFEFE;
        border-radius: 5px;
        padding: 20px;
        margin: 15px;
    }
    
    .encabesado {
        height: 55%;
        display: block;
    }
    
    .titulo {
        /*margin out*/
        margin-top: 0.5px;
        /*pading in*/
    }
    
    .botones {
        margin: 10px 10px;
        padding: 8px 8px;
        border: #34495E 5px solid;
        border-radius: 5px;
        display: block;
    }
    
    .search {
        width: 20%;
        padding: 5px;
        align-items: flex-start;
    }
    
    .btn-primary {
        display: flex;
    }
    
    .btn-success {
        display: flex;
    }
    
    .subtitulo {
        color: aliceblue;
    }
    
    .titulos {
        font-size: 25px;
        border-bottom: #5DADE2 2px solid;
    }
    
    .tb-herramientas {
        width: 100%;
        height: 450px;
        padding: 5px 5px;
        margin: 0px 0px;
        border-radius: 2px;
        display: inline-block;
        overflow-y: auto;
        margin: auto;
        background: #FDFEFE;
    }
    
    .cuadro-texto {
        /*border: #000 5px solid;*/
        padding: 25px 20px;
        margin: 12px;
        font-size: 15px;
        justify-content: flex-start;
    }
    
    .tablas {
        margin: 20px 20px;
        padding: 10px;
        width: auto;
        border-radius: 5px;
        background: #FDFEFE;
        display: flex;
    }
    
    .tablas2 {
        margin: 20px 20px;
        padding: 15px 15px;
        background: #2E4053;
        border-radius: 5px;
    }
    
    .tb {
        background: #ECF0F1;
        border-radius: 5px;
    }
    
    .subtitulo2 {
        color: aliceblue;
        margin: 5px;
        padding: 2px;
        border: aliceblue 5px solid;
        border-radius: 5px;
    }
    
    .caja1 {
        display: block;
    }
    
    .parrafo {
        margin: 10px;
        padding: 5px;
        background: #ECF0F1;
        border-radius: 1px;
        display: inline-block;
    }
    
    .info {
        margin: 10px 10px;
        padding: 8px 8px;
        background: #FDFEFE;
        border-radius: 5px;
        border-left: #2ECC71 7px solid;
    }
    
    .info-p {
        text-align: justify;
    }
    
    .parrafo2 {
        margin: 10px;
        padding: 5px;
        background: #ECF0F1;
        border-radius: 5px;
        display: inline-block;
    }
    
    .aside1 {
        /*border: #000 5px solid;*/
        padding: 25px 20px;
        margin: 12px;
        border-radius: 5px;
        display: inline-block;
    }
    
    .medidas {
        background-color: #ECF0F1;
        margin: 10px;
        height: 530px;
        padding: 25px 20px;
        border-radius: 5px;
        display: flex;
        overflow-y: auto;
    }
    
    .medidas::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    .contenedor {
        background: #ECF0F1;
        padding: 18px 13px;
        margin: 12px;
        border-radius: 5px;
    }
    
    .ley {
        color: white;
    }
    
    .form-search {
        margin: 5px;
        padding: 3px;
        display: flex;
    }
    
    .acciones {
        margin: 5px;
        padding: 5px;
    }
    
    @media all and (max-width:330px) {
        .subtitulo2 {
            font-size: 15px;
        }
        .acciones {
            display: flex;
        }
    }
    
    @media all and (max-width: 430px) {
        .usuario {
            width: 50px;
            height: 50px;
            border-radius: 60px;
            background: #AED6F1;
        }
        .contenedoru {
            margin: 8px 8px;
            width: 60px;
            height: 60px;
        }
        #login {
            width: auto;
            height: auto;
            margin: auto;
            margin-top: 28px;
            margin-bottom: 20px;
        }
        .titulo {
            color: #000;
        }
        .ley {
            font-size: 10px;
            color: white;
        }
        .tb-herramientas {
            padding: 15px 15px;
        }
        .botones {
            display: flex;
        }
        .parrafo2 {
            display: flex;
            overflow-x: auto;
        }
        .botones {
            display: block;
        }
    }
    
    @media all and (max-width:770px) {
        .cuadro-texto {
            padding: 20px 15px;
        }
        .botones {
            text-align: center;
        }
        .titulo {
            color: #000;
        }
        #login {
            padding: 20px 10px;
        }
        .usuario {
            width: 60px;
            height: 60px;
        }
        .contenedoru {
            width: 80px;
            height: 75px;
        }
        .medidas {
            background-color: #ECF0F1;
            margin: 10px;
            height: 530px;
            padding: 25px 20px;
            border-radius: 5px;
            display: flex;
            overflow-y: auto;
            width: 300px;
        }
        .parrafo {
            width: 250px;
            border-radius: 5px;
        }
        .parrafo2 {
            width: 350px;
        }
    }
    
    @media all and (max-width: 803px) {
        .tablas {
            display: block;
        }
        .titulos {
            font-size: 15px;
        }
        .titulo {
            color: #000;
        }
    }
    
    @media all and (max-width:830px) {
        .img {
            width: 880px;
        }
        .titulo {
            font-size: 27px;
        }
    }
    
    @media screen and (max-width: 910px) {
        .tb-herramientas {
            display: block;
            overflow-x: auto;
            padding: 10px 0;
            margin: 0%;
        }
        .parrafo2 {
            display: block;
            overflow-x: auto;
        }
        .subtitulo {
            font-size: 32px;
        }
        #login {
            padding: 20px;
            height: 490px;
        }
        .titulo {
            color: #000;
        }
    }
    
    @media all and (max-width: 1030px) {
        .tb {
            display: block;
            overflow-x: auto;
            background: #ECF0F1;
            padding: 10px;
            border-radius: 5px;
        }
    }