    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }
    
    body.cuerpo {
        background: #44A08D;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #093637, #44A08D);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #093637, #44A08D);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .pag {
        background: #CACFD2;
    }
    
    .pag::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    #login {
        margin: 55px 0px;
        padding: 40px;
        background: #d5d8dcc5;
        border-radius: 5px;
    }
    
    .contenedoru {
        width: 115px;
        height: 110px;
        border-radius: 85px;
        background: #AED6F1;
    }
    
    .usuario {
        margin-top: 5px;
        width: 90px;
        height: 90px;
    }
    
    .card-categorias {
        width: 95%;
        margin: 25px 25px;
    }
    
    #card1 {
        margin: 10px 10px;
        display: inline-block;
        flex: 1 1 auto;
    }
    
    .box-1 {
        border-bottom: #2ECC71 5px solid;
        background-color: #fdfefec7;
        border-radius: 5px;
        padding: 20px;
        margin: 15px;
    }
    
    .encabesado {
        height: 55%;
        display: block;
    }
    
    #titulos-form {
        font-size: 15px;
    }
    
    .titulo {
        /*margin out*/
        margin-top: 0.5px;
        text-align: center;
        /*pading in*/
    }
    
    .opciones {
        width: max-content;
        height: 50px;
    }
    
    .btn-primary {
        display: flex;
    }
    
    .btn-success {
        display: flex;
    }
    
    .subtitulo {
        color: aliceblue;
    }
    
    .titulos {
        font-size: 25px;
        border-bottom: #5DADE2 5px solid;
    }
    
    .body-tb:hover {
        background: #abc8dfb0;
        border-bottom: #F4D03F 2px solid;
    }
    
    .tb-herramientas {
        width: 100%;
        height: 450px;
        padding: 5px 5px;
        border-radius: 2px;
        background: #FDFEFE;
    }
    
    .contador-h {
        margin: 10px 10px;
        background: #FDFEFE;
        padding: 5px;
        border-radius: 5px;
        height: max-content;
        width: 95%;
    }
    
    .conten {
        display: inline-block;
    }
    
    .subt {
        text-align: center;
        font-size: 16px;
    }
    
    #imgs {
        width: 290px;
        height: 215px;
        display: inline-block;
        margin: 10px;
        border-radius: 5px;
    }
    
    .infor {
        width: 295px;
        height: 215px;
        margin: 10px;
        padding: 10px;
        font-size: 14px;
        background: #F2F3F4;
        border-radius: 7px;
        border-left: #85C1E9 5px solid;
    }
    
    .forms {
        margin: 5px 5px;
        display: flex;
    }
    
    .form-update {
        align-content: center;
        width: max-content;
        height: 170px;
        margin: 10px 10px;
        padding: 5px;
        background: #FDFEFE;
        border-radius: 5px;
        border-left: #F4D03F 5px solid;
    }
    
    .botones {
        margin: 10px 10px;
        padding: 8px 8px;
        width: max-content;
        height: 170px;
        background: #FDFEFE;
        border-left: #DC7633 5px solid;
        border-radius: 5px;
        display: block;
    }
    
    .card {
        margin: 10px 10px;
        border-radius: 5px;
    }
    
    .tabla-herramientas {
        width: 1050px;
        height: 300px;
        display: block;
        overflow-y: auto;
    }
    
    .tb_h {
        width: 1050px;
        height: 300px;
        display: block;
        overflow-y: auto;
    }
    
    #herramientas {
        margin: 0px;
        width: 1050px;
        height: 25px;
        font-size: 13px;
    }
    
    #h {
        margin: 0px;
        width: 1050px;
        height: 25px;
        font-size: 13px;
    }
    
    .tabla-herramientas::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    .cortadores {
        width: 1050px;
        height: 300px;
        margin: 0px 0px;
        display: block;
        overflow-y: auto;
    }
    
    .separador {
        margin: 2px;
        border-bottom: #2ECC71 5px solid;
    }
    
    #tb-cortadores {
        margin: 0px 20px;
        width: 1050px;
        height: 25px;
        font-size: 13px;
    }
    
    .tb-body:hover {
        background: #abc8dfb0;
        border-bottom: #F4D03F 3px solid;
    }
    
    .contenido {
        display: flex;
    }
    
    .con-cortadores {
        margin: 10px 20px;
        width: 1100px;
        height: 350px;
        padding: 5px 5px;
        border-radius: 5px;
        background: #FDFEFE;
    }
    
    .cortadores::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    .informacion_piezas {
        margin: 10px 20px;
        width: 350px;
        height: 350px;
        border-radius: 5px;
        background-color: #FDFEFE;
    }
    
    .informacion_p h1 {
        margin: 10px 10px;
        font-size: 20px;
        color: white;
        text-align: center;
        background: #34495E;
    }
    
    .informacion_p p {
        margin: 10px 10px;
    }
    
    .cuadro-texto {
        /*border: #000 5px solid;*/
        padding: 25px 20px;
        margin: 12px;
        font-size: 15px;
        justify-content: flex-start;
    }
    
    .tablas {
        margin: 20px 20px;
        padding: 10px;
        width: 930px;
        border-radius: 5px;
        background: #FDFEFE;
        display: flex;
    }
    
    .tablas2 {
        margin: 20px 20px;
        padding: 15px 15px;
        background: #FDFEFE;
        border-radius: 5px;
        height: max-content;
        width: 80%;
    }
    
    .subtitulo2 {
        color: black;
        margin: 5px;
        border-bottom: #EC7063 5px solid;
        padding: 2px;
        border-radius: 5px;
    }
    
    .caja1 {
        display: block;
        height: max-content;
    }
    
    .tb {
        background: #ECF0F1;
        margin: 0px;
        width: max-content;
        height: max-content;
    }
    
    #tabla2 {
        margin: 0px 0px;
        /*ancho de la tabla*/
        width: 845px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
    }
    
    .parrafo {
        margin: 10px;
        padding: 5px;
        background: #ECF0F1;
        border-radius: 1px;
        display: inline-block;
    }
    
    .info {
        margin: 10px 10px;
        padding: 8px 8px;
        background: #FDFEFE;
        border-radius: 5px;
        border-bottom: #2ECC71 7px solid;
    }
    
    .info-p {
        text-align: justify;
    }
    
    .parrafo2 {
        margin: 10px;
        padding: 5px;
        background: #ECF0F1;
        border-radius: 5px;
        display: inline-block;
    }
    
    .aside1 {
        /*border: #000 5px solid;*/
        padding: 25px 20px;
        margin: 12px;
        border-radius: 5px;
        display: inline-block;
    }
    
    .medidas {
        background-color: #ECF0F1;
        margin: 10px;
        height: 530px;
        padding: 25px 20px;
        border-radius: 5px;
        display: flex;
        overflow-y: auto;
    }
    
    .box-registros {
        display: flex;
    }
    
    .contenedor_registros {
        margin: 15px 20px;
    }
    
    .Nuevos_registros {
        width: 250px;
        height: 150px;
        background: white;
    }
    
    .R-titulo {
        background: #34495E;
        border: #000 2px solid;
    }
    
    .salidas {
        margin: 15px 20px;
        width: 1060px;
        background: #FDFEFE;
    }
    
    .medidas::-webkit-scrollbar {
        width: 8px;
        /* Tamaño del scroll en vertical */
        height: 8px;
        /* Tamaño del scroll en horizontal */
        display: none;
        /* Ocultar scroll */
    }
    
    .contenedor {
        background: #ECF0F1;
        padding: 18px 13px;
        margin: 12px;
        border-radius: 5px;
    }
    
    .ley {
        color: white;
    }
    
    .acciones {
        margin: 5px;
        padding: 5px;
    }
    
    @media screen and (max-width: 1030px) {
        .caja1 {
            background: #ECF0F1;
            padding: 10px;
            border-radius: 5px;
            display: block;
            overflow-x: auto;
        }
        .tablas2 {
            margin: 10px 15px;
            width: 90%;
        }
        .tabla-herramientas {
            width: 1010px;
            display: block;
            overflow-x: auto;
        }
        .tb_h {
            width: 650px;
            display: block;
            overflow-x: auto;
        }
        .con-cortadores {
            width: 1000px;
            display: block;
            overflow-x: auto;
        }
        .salidas {
            margin: 15px 15px;
            padding: 5PX 5PX;
            width: 660px;
            background: #FDFEFE;
        }
        .form-update {
            width: 270px;
        }
    }
    
    @media screen and (max-width: 910px) {
        .tb-herramientas {
            display: block;
            overflow-x: auto;
            padding: 10px 0;
            margin: 0%;
        }
        .parrafo2 {
            display: block;
            overflow-x: auto;
        }
        .subtitulo {
            font-size: 32px;
        }
        #login {
            padding: 20px;
            height: 490px;
        }
        .titulo {
            color: #000;
        }
    }
    
    @media all and (max-width:830px) {
        .img {
            width: 880px;
        }
        .titulo {
            font-size: 27px;
        }
    }
    
    @media all and (max-width: 803px) {
        .tablas {
            display: block;
        }
        .titulos {
            font-size: 15px;
        }
        .titulo {
            color: #000;
        }
    }
    
    @media all and (max-width:770px) {
        .cuadro-texto {
            padding: 20px 15px;
        }
        .botones {
            text-align: center;
        }
        .titulo {
            color: #000;
        }
        .tablas {
            width: 500px;
        }
        #login {
            padding: 20px 10px;
        }
        .usuario {
            width: 60px;
            height: 60px;
        }
        .contenedoru {
            width: 80px;
            height: 75px;
        }
        .tablas2 {
            padding: 5px 5px;
        }
        .medidas {
            background-color: #ECF0F1;
            margin: 10px;
            height: 530px;
            padding: 25px 20px;
            border-radius: 5px;
            display: flex;
            overflow-y: auto;
            width: 300px;
        }
        .parrafo {
            width: 250px;
            border-radius: 5px;
        }
        .parrafo2 {
            width: 350px;
        }
        .informacion_p h1 {
            margin: 10px 10px;
            font-size: 17px;
            color: white;
            text-align: center;
            background: #34495E;
        }
        .con-cortadores {
            width: 730px;
            display: block;
            overflow-x: auto;
        }
        .tb_h {
            width: 380px;
            display: block;
            overflow-x: auto;
        }
        .tabla-herramientas {
            width: 740px;
            display: block;
            overflow-x: auto;
        }
        .salidas {
            margin: 15px 15px;
            padding: 5PX 5PX;
            width: 390px;
            background: #FDFEFE;
        }
    }
    
    @media all and (max-width: 430px) {
        .usuario {
            width: 50px;
            height: 50px;
            border-radius: 60px;
            background: #AED6F1;
        }
        .card-categorias {
            width: 85%;
            padding: 10px;
        }
        .form-update {
            width: 85%;
        }
        .contenedoru {
            margin: 8px 8px;
            width: 60px;
            height: 60px;
        }
        #login {
            width: auto;
            height: auto;
            margin: auto;
            margin-top: 28px;
            margin-bottom: 20px;
        }
        .titulo {
            color: #000;
        }
        .ley {
            font-size: 10px;
            color: white;
        }
        .tb-herramientas {
            padding: 15px 15px;
        }
        .botones {
            display: flex;
        }
        .tablas {
            width: 350px;
        }
        .parrafo2 {
            width: max-content;
        }
        .info {
            display: none;
        }
        .forms {
            display: block;
        }
        .subtitulo2 {
            font-size: 25px;
        }
        .contenedor-botones {
            margin: 20px 10px;
        }
        .botones {
            width: 190px;
        }
        .contenido {
            display: block;
        }
        .con-cortadores {
            width: 380px;
            margin: 10px 10px;
            display: block;
            overflow-x: auto;
        }
        .box-registros {
            display: block;
        }
        .form-update {
            height: max-content;
        }
        .botones {
            height: max-content;
            width: 300px;
        }
    }
    
    @media all and (max-width:380px) {
        .con-cortadores {
            width: 345px;
            margin: 15px 15px;
            display: block;
            overflow-x: auto;
        }
        .informacion_piezas {
            margin: 15px 15px;
            width: 345px;
        }
        .informacion_p {
            margin: 10px 5px;
            padding: 10px;
        }
        .tb_h {
            width: 330px;
            display: block;
            overflow-x: auto;
        }
        .tabla-herramientas {
            width: 330px;
            display: block;
            overflow-x: auto;
        }
        .salidas {
            margin: 15px 15px;
            padding: 5PX 5PX;
            width: 340px;
            background: #FDFEFE;
        }
    }
    
    @media all and (max-width:330px) {
        .subtitulo2 {
            font-size: 15px;
        }
        .acciones {
            display: flex;
        }
        .infor {
            width: 250px;
        }
        .tablas2 {
            padding: 5px 5px;
        }
        .caja1 {
            padding: 5px 5px;
        }
        .tb_h {
            width: 280px;
            display: block;
            overflow-x: auto;
        }
        .tabla-herramientas {
            width: 280px;
            display: block;
            overflow-x: auto;
        }
        .salidas {
            margin: 15px 15px;
            padding: 5PX 5PX;
            width: 290px;
            background: #FDFEFE;
        }
        .contenedor_registros {
            margin: 10px 10px;
            width: 300px;
        }
        .forms {
            margin: 0px 0px;
        }
        .card {
            margin: 5px 5px;
        }
        #imgs {
            width: 260px;
            height: 190px;
        }
    }